.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
/src/assets/fonts/AvantGarde/avantgarde.ttf
/src/assets/fonts/AvantGarde/avantgardebold.ttf
/src/assets/fonts/Avenir/Avenir-Black.ttf
/src/assets/fonts/Avenir/Avenir-BlackOblique.ttf
/src/assets/fonts/Avenir/Avenir-Book.ttf
/src/assets/fonts/Avenir/Avenir-Heavy.ttf
/src/assets/fonts/Avenir/Avenir-HeavyOblique.ttf
/src/assets/fonts/Avenir/Avenir-Light.ttf
/src/assets/fonts/Avenir/Avenir-LightOblique.ttf
/src/assets/fonts/Avenir/Avenir-Medium.ttf
/src/assets/fonts/Avenir/Avenir-MediumOblique.ttf
/src/assets/fonts/Avenir/Avenir-Oblique.ttf
/src/assets/fonts/Avenir/Avenir-Roman.ttf
/public/images/shoes/01.png
/public/images/shoes/02.png
/public/images/shoes/03.png
/public/images/shoes/04.png
/public/images/shoes/05.png
/public/images/shoes/06.png
/public/images/shoes/07.png
/public/images/shoes/08.png
/public/images/shoes/09.png
/public/images/shoes/cwebp.exe
/public/images/shoes/Readme.txt